---
import Layout from "@/layouts/layout.astro";
import Navbar from "@/components/common/navbar.astro";
import Hero from "@/components/landing/hero.astro";
import ProblemSolution from "@/components/landing/problem-solution.astro";
import OfferProcess from "@/components/landing/offer-process.astro";
import DeliveryAudience from "@/components/landing/delivery-audience.astro";
import PricingAuthority from "@/components/landing/pricing-authority.astro";
import UpsellFaqCta from "@/components/landing/upsell-faq-cta.astro";
import FormFooter from "@/components/common/form-footer.astro";
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<ProblemSolution />
		<OfferProcess />
		<DeliveryAudience />
		<PricingAuthority />
		<UpsellFaqCta />
		<FormFooter />
	</main>
</Layout>
