---
import Layout from "@/layouts/layout.astro";
import Navbar from "@/components/common/navbar.astro";


import PortalHero from "@/components/portal/portal-hero.astro";
import ServiceCards from "@/components/portal/service-cards.astro";
import PortalWhy from "@/components/portal/portal-why.astro";
import PortalContent from "@/components/portal/portal-content.astro";
import PortalFaq from "@/components/portal/portal-faq.astro";
import Footer from "@/components/common/footer.astro";
---

<Layout>
    <Navbar />
    <main>
        <PortalHero />
        <ServiceCards />
        <PortalWhy />
        <PortalContent />
        <!-- Includes Process & About -->
        <!-- Includes Process & About -->
        <PortalFaq />
        <Footer />
    </main>
</Layout>
